<div id="registration-container">
<div id="registration">
  <h4><%= t('change_password') %></h4>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <fieldset>
      <dl>
        <dt><%= f.label :password, t('new_password') %></dt>
        <dd>
          <%= f.password_field :password, :autofocus => true %>
          <div id="password-error" class="error"></div>
        </dd>
        <dt><%= f.label :password_confirmation, t('confirm_new_password') %></dt>
        <dd>
          <%= f.password_field :password_confirmation %>
          <div id="password-repeat-error" class="error"></div>
        </dd>
        <dt class="submit"><%= f.submit t('change_my_password'), class: 'btn' %></dt>
      </dl>
    </fieldset>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
</div>